<mat-card style="text-align: center;">
      <mat-card-title >Museo Virtual de Matematicas: Problema de Empaquetamiento en Contenedores</mat-card-title>
      <mat-card-subtitle>Sociedad Matemática Mexicana</mat-card-subtitle>
    <mat-card-actions align="start">
      <button mat-button routerLink="/tutorial">Tutorial</button>
      <button mat-button routerLink="/online">Modalidad Online</button>
      <button mat-button routerLink="/offline">Modalidad Offline</button>
    </mat-card-actions>
  </mat-card>
